<footer>

    <!--Logo PROMISE-->
    <img src="" alt="LOGO">

    <!--Liste des onglets-->
    <ul class="Footer-nav">
        <li><a href="">Accueil</a></li>
        <li><a href="">Devenir intermittent</a></li>
        <li><a href="">Vos aides</a></li>
        <li><a href="">Fais-toi connaître</a></li>
    </ul>

    <!--Liste des réseaux sociaux-->
    <ul class="Footer-social">
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
    </ul>

    <!--Mentions légales-->
    <a href="">Mentions légales</a>


    <!--Copyright-->
    <p>Copyright ©2020 - All rights reserved</p>


</footer>