<footer>

    <!--Logo PROMISE-->
    <div class="logo-promise">
        <img src="/assets/img/logo_promise.png" alt="LOGO" class="footer-logo-promise">
    </div>
    <!--Liste des onglets-->

    <ul class="footer-nav">
        <li><a href="">Accueil</a></li>
        <li><a href="">Devenir intermittent</a></li>
        <li><a href="">Vos aides</a></li>
        <li><a href="">Fais-toi connaître</a></li>
    </ul>

    <!--Liste des réseaux sociaux-->
    <ul class="footer-social">
        <li><img src="/assets/img/social_logo/logo_facebook.svg" alt=""></li>
        <li><img src="/assets/img/social_logo/logo_instagram.svg" alt=""></li>
        <li><img src="/assets/img/social_logo/logo_twitter.svg" alt=""></li>
        <li><img src="/assets/img/social_logo/logo_youtube.svg" alt=""></li>
    </ul>

    <!--Mentions légales-->
    <a href="">Mentions légales</a>


    <!--Copyright-->
    <p>Copyright ©2020 - All rights reserved</p>


</footer>