<footer>
    <!--Logo PROMISE-->
    <img src="/assets/img/logo_promise.png" alt="LOGO" class="logo-promise">

    <!--Liste des onglets-->
    <ul class="footer-nav">
        <li><a href="#header" >Accueil</a></li>
        <li><a href="#status" >Devenir intermittent</a></li>
        <li><a href="#form" >Vos aides</a></li>
        <li><a href="#social" >Fais-toi connaître</a></li>
    </ul>

    <!--Liste des réseaux sociaux-->
    <ul class="footer-social">
        <li><a target="_blank" href="https://www.facebook.com/Vivre-Lintermittence-101682568487410"><img src="/assets/img/social_logo/logo_facebook.svg" alt="Facebook Logo"></a></li>
        <li><a target="_blank" href="https://www.instagram.com/vivre.intermittence/?hl=fr"><img src="/assets/img/social_logo/logo_instagram.svg" alt="Instagram Logo"></a></li>
        <li><a target="_blank" href="https://twitter.com/IntermittenceL"><img src="/assets/img/social_logo/logo_twitter.svg" alt="Twitter Logo"></a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCJxoN94VkwQaVTCBYFUw2Cg/featured"><img src="/assets/img/social_logo/logo_youtube.svg" alt="Youtube Logo"></a></li>
    </ul>

    <!--Mentions légales-->
    <a href="#" class="mentions-légales">Mentions légales</a>

    <!--Copyright-->
    <p class="copyright">Copyright ©2020 - All rights reserved</p>

</footer>