<header>
    <h1>Vivre <br>L'intermittence</h1>
    <h2>Tu es intermittent ou
        tu cherches à le devenir ?</h2>
    <div class="help-container">
        <p>Nous allons te donner le maximum de clés pour que tu puisses mieux comprendre et appréhender la situation liée à la crise sanitaire.</p>
        {% include components/classic_button.html %}
    </div>
    <div class="status-container">
        <p>Si tu te renseignes sur le statut d’intermittent ou sur les aides mises en place, tu es au bon endroit !</p>
        {% include components/classic_button.html %}
    </div>
</header>