<section class="form line-progress" id="form">

    <div class="section section-form-content">

        {% include components/subtitle.html subtitle='5 minutes <br><span class="bold">pour connaître vos aides</span>' %}

        <div class="form-container">
            <h3>Avez-vous le statut d'intermittent ?</h3>
            <h4>Question 1/6</h4>
            
            {% include components/form_button.html content="OUI" class='form-button-yes' %}
            {% include components/form_button.html content="NON" class='form-button-no' %}

            <button class="next"><img src="/assets/img/icon/icon-right-arrow.svg" alt="Validation Arrow"></button>
        </div>

        <div class="help-card-container">
            {% include components/help_card.html title="Aide coronavirus de 1000 euros" content="Professionnel en cours de constitution de droit au régime d’assurance chômage" %}
            {% include components/help_card.html title="Aide coronavirus de 1000 euros" content="Intermittent ayant épuisé leur droit à l’allocation de fin de droit" %}
            {% include components/help_card.html title="Aide coronavirus de 1000 euros" content="Intermittents dont les droits n’ont pas repris entre le 1er mars et le 31 octobre 2020." %}
            {% include components/help_card.html title="Année blanche" content="Prolongation des droits des intermittents jusqu'au 31 août 2021" %}
            {% include components/help_card.html title="Aide forfaitaire coronavirus" content="1 000€ si épuisement des droits à l'allocation" %}
            {% include components/help_card.html title="Aide de 1500 euros" content="Professionnel ne recevant aucune allocation de Pôle emploi" %}
            {% include components/help_card.html title="Aide de 1500 euros" content="Intermittents ayant perdu leur allocation de retour à l’emploi entre le 1er décembre 2019 et le 29 février 2020" %}
            {% include components/help_card.html title="Aide coronavirus de 1500 euros" content="Artiste qui se produisent en majorité a l’étranger ayant leurs date annulées" %}
            {% include components/help_card.html title="Chaîne de solidarité Adami" content="Aide exceptionnelle pour les plus démunis" %}
            {% include components/help_card.html title="Aide coronavirus Audiens" content="Aide si 5 jours ou cachets annulés au cours d'un mois" %}
            <!--{% include components/help_card.html title="Assossiation" content="--------" %}-->
        </div>
    </div>

</section>

 <!--
Avez-vous le statut d’intermittent
Avez-vous des evenements qui n'ont pas été annulé ?
Vos dates ont elles été annulées en dehors de la période du 1er mars au 31 août 2020 ?
Votre activité a-t-elle été impactée pendant moins de 6 mois ?
Etes-vous éligible au dispositif d'activité partielle ?
Avez- vous le régime d’assurance chômage ?
Vos droits au régime d’assurance chômage n’ont-ils pas repris entre le 1er mars et le 31 août 2020 ?(contrat post congé maternité, congé d’adoption ou arrêt maladie ALD) ?
    -->