<section class="form">

    <div class="hexagone-icon-container">
        {% include components/hexagone_icon.html link="/assets/img/icon/icon-stethoscope.svg" content="En cas d’arrêt maladie" %}
        {% include components/hexagone_icon.html link="/assets/img/icon/icon-mother.svg" content="De congés maternités" %}
        {% include components/hexagone_icon.html link="/assets/img/icon/icon-watch-your-step.svg" content="D’accident de travail" %}
    </div>

    {% include components/subtitle.html subtitle='5 minutes <span class="bold">pour connaître vos aides</span>' %}
    <div class="form-container">
        <h3>Avez-vous le statut d'intermittent ?</h3>
        <h4>Question 1/10</h4>
        
        {% include components/classic_button.html content="OUI" %}
        {% include components/classic_button.html content="NON" %}

        <img src="/assets/img/icon/icon_cookie.svg" alt="Validation Arrow">
    </div>
    <div class="help-card-container">
        {% include components/help_card.html title="Année blanche" content="Prolongation des droits des intermittents jusqu'au 31 août 2021" %}
        {% include components/help_card.html title="Aide forfaitaire coronavirus" content="1 000€ si épuisement des droits à l'allocation" %}
        {% include components/help_card.html title="Chaîne de solidarité Adami" content="Aide exceptionnelle pour les plus démunis" %}
        {% include components/help_card.html title="Aide coronavirus Audiens" content="Aide si 5 jours ou cachets annulés au cours d'un mois" %}
    </div>

</section>