<section class="social">


    <h2>Fais-toi <id>connaître</id>
    </h2>
    <div id="carousel">
        <div class="artswap">
            <img src="assets/img/website_logo/logo_le_lab.png" alt="Artswap" />
            <h5><a href="https://www.artswap.fr/">Artswap</a></h5>
            <p>Plateforme d’échanges de services & de matériel entre artistes</p>
        </div>

        <div class="movinmotion">
            <img src="assets/img/website_logo/logo_movinmotion.jpg" alt="Movinmotion" />
            <h5><a href="https://www.movinmotion.com/">Movinmotion</a></h5>
            <p>La gestion digitale pour la culture et la communication</p>
          </div>

        <div class="5euros">
            <img src=" assets/img/website_logo/logo_5euros.png" alt="5 euros" />
            <h5><a href="https://5euros.com/">5 euros</a></h5>
            <p>Des microservices pour tous vos besoins</p>
        </div>

        <div class="intermittent.fr">
            <img src=" assets/img/website_logo/logo_intermittent_fr.jpg"
              alt="Intermittent.fr"
            />
            <h5><a href="https://intermittent.fr/">INTERMITTENT.fr</a>INTERMITTENT.fr</h5>
            <p>Offres d'emplois & dépôt de CV pour les intermittents du spectacle</p>
        </div>

    </div>

    <div class="fleche">
        <button id="prev">Prev</button>
        <button id="next">Next</button>
    </div>

</section>