<section class="section social line-progress" id="social">

    <!--<img class="form-light-wave-2" src="/assets/img/light_wave_bis.svg" alt="Light Wave"> -->
    <img class="footer-wave" src="/assets/img/footer_wave.svg" alt="Footer Wave">

    {% include components/subtitle.html subtitle='Fais-toi <span class="bold">connaître</span>' %}

    <!-- Social Items Slider -->
    <div class="social-item-slider">
        <div class="social-items-container">
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_movinmotion.jpg" 
                name="Movinmotion" 
                content="La gestion digitale pour la culture et la communication" 
                shadowColor="white" 
                link= "https://www.movinmotion.com/" %}
    
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_le_lab.png" 
                name="Artswap" 
                content="Plateforme d’échanges de services & de matériel entre artistes" 
                shadowColor="grey" 
                class= "social-item-absolute"  
                link= "https://www.artswap.fr/" %}
                
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_5euros.png" 
                name="5euros" 
                content="Des microservices pour tous vos besoins" 
                shadowColor="white"  
                link= "https://5euros.com/" %}
    
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_intermittent_fr.jpg"
                name="INTERMITTENT.FR" 
                content="Offres d'emplois & dépôt de CV pour les intermittents du spectacle" 
                shadowColor="black"  
                link= "https://intermittent.fr/" %}
        </div>
    </div>

</section>
