<section class="section social line-progress" id="social">

    {% include components/subtitle.html subtitle='Fais-toi <span class="bold">connaître</span>' %}

    <!-- Social Items Slider -->
    <div class="social-item-slider">
        <div class="social-items-container">
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_movinmotion.jpg" 
                name="Movinmotion" 
                content="La gestion digitale pour la culture et la communication" 
                shadowColor="white" %}
    
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_le_lab.png" 
                name="Artswap" 
                content="Plateforme d’échanges de services & de matériel entre artistes" 
                shadowColor="grey" %}
                
            
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_5euros.png" 
                name="5euros" 
                content="Des microservices pour tous vos besoins" 
                shadowColor="white" %}
    
            {% include components/social_items.html 
                logo="/assets/img/website_logo/logo_intermittent_fr.jpg"
                name="INTERMITTENT.FR" 
                content="Offres d'emplois & dépôt de CV pour les intermittents du spectacle" 
                shadowColor="black" %}
        </div>
    
        <div class="arrow">
            <button id="prev"><img src="/assets/img/icon/icon-left-arrow.svg" alt="Previous Arrow"></button>
            <button id="next"><img src="/assets/img/icon/icon-right-arrow.svg" alt="Next Arrow"></button>
        </div>
    </div>

</section>
