<section class="status">

    <h2>
        Devenir <br>
        <span> Intermittent</span>
    </h2>

    <div>
        <img src="assets/img/icon/icon_clock.svg" alt="horloge">
        <h3>
            507 heures / ans
        </h3>
    </div>
    <div>

    </div>
    <h3>
        Comment réaliser ces 507H ?
    </h3>
    <div>
        <img src="assets/img/icon/icon_guitar.svg" alt="guitar">
        <h4>Répétitions</h4>
        <p>1 heure = 1 heure </p>
    </div>
    <div>
        <img src="assets/img/icon/icon_teacher.svg" alt="teacher">
        <h4>Enseignement</h4>
        <p>1 heure = 1 heure </p>
        <p>70 heures max
            120 heures si plus de 50 ans</p>
    </div>
    <div>
        <img src="assets/img/icon/icon_tasklist.svg" alt="tasklist">
        <h4>Cachets</h4>
        <p>1 cachet = 12 heures </p>
        <p>28 max par mois</p>
    </div>

</section>