<section class="status">
    <h2>
        Devenir <br />
        <span> Intermittent</span>
    </h2>

    <div>
        <img src="assets/img/icon/icon_clock.svg" alt="horloge" />
        <h3>507 heures / ans</h3>
    </div>

    <!-- Comment réaliser ces 507H  -->
    <h3>Comment réaliser ces 507H ?</h3>

    <div class="howto-container">
        {% include components/howto.html icon="/assets/img/icon/icon_guitar.svg" title="Répétitions" subtitle="1 heure = 1 heure" %}
        {% include components/howto.html icon="/assets/img/icon/icon_teacher.svg" title="Enseignement" subtitle="1 heure = 1 heure" content="70 heures max 120 heures si plus de 50 ans" %}
        {% include components/howto.html icon="/assets/img/icon/icon_tasklist.svg" title="Cachets" subtitle="1 cachet = 12 heures" content="28 max par mois" %}
    </div>
</section>
