<section class="section status line-progress" id="status">

    <!-- <img class="form-light-wave-1" src="/assets/img/light_wave.svg" alt="Light Wave"> -->

    {% include components/subtitle.html subtitle='Devenir <span class="bold">intermittent</span>' %}

    <!-- 507 heures / an -->
    {% include components/subtitle_neon.html subtitle='507 heures / an' class="subtitle-neon-center" image="/assets/img/icon/icon_clock.svg" %}

    <!-- Hexagone -->
    <div class="hexagone-container">
        {% include components/hexagone.html number="1" content="Être en recherche active et permanente d’emploi" %}
        {% include components/hexagone.html number="2" content="Être physiquement apte à l’exercice d’un emploi" %}
        {% include components/hexagone.html number="3" content="Être inscrit comme demandeur d’emploi" %}
        {% include components/hexagone.html number="4" content="Résider en France" %}
        {% include components/hexagone.html number="5" content="Avoir moins de 67 ans" %}

        {% include components/hexagone_shape.html number="1" %}
        {% include components/hexagone_shape.html number="2" %}
        {% include components/hexagone_shape.html number="3" %}
        {% include components/hexagone_shape.html number="4" %}
    </div>

    <!-- Comment réaliser ces 507H  -->
    <div>
        {% include components/subtitle_neon.html subtitle='Comment réaliser ces 507H ?' %}

        <div class="howto-container">
            {% include components/howto.html icon="/assets/img/icon/icon_guitar.svg" title="Répétitions" subtitle="1 heure = 1 heure" %}
            {% include components/howto.html icon="/assets/img/icon/icon_teacher.svg" title="Enseignement" subtitle="1 heure = 1 heure" content="70 heures max<br>120 heures si plus de 50 ans" %}
            {% include components/howto.html icon="/assets/img/icon/icon_tasklist.svg" title="Cachets" subtitle="1 cachet = 12 heures" content="28 max par mois" %}
        </div>
    </div>

    <!-- Possibilité d’allonger la période -->
    {% include components/subtitle_neon.html subtitle='Possibilité d’allonger la période' %}
    <div class="calendrier">
        <img src="/assets/img/icon/icon_calendar.svg" alt="Calendar Icon"/>
        <span>+30 jours / 42 heures </span>
    </div>

    <!-- CAS PARTICULIERS -->
    <div class="title-cas-particulier">
        {% include components/subtitle_neon.html subtitle='CAS PARTICULIERS' class="subtitle-neon-center"%}
        <p class="text-addition">
            Si indemnisé par la sécurité sociale, les jours d’immobilisation ne
            comptent pas. Chaque jours d’impossibilité de travailler est ajouté
            aux 365 jours pour faire les 507 heures.
        </p>
    </div>

    <!-- Hexagone -->
    <div class="hexagone-icon-container">
        {% include components/hexagone_icon.html number="1" link="/assets/img/icon/icon-stethoscope.svg" content="En cas d’arrêt maladie" %}
        {% include components/hexagone_icon.html number="2" link="/assets/img/icon/icon-mother.svg" content="De congés maternités" %}
        {% include components/hexagone_icon.html number="3" link="/assets/img/icon/icon-watch-your-step.svg" content="D’accident de travail" %}
    
        {% include components/hexagone_shape.html number="5" %}
        {% include components/hexagone_shape.html number="6" %}
        {% include components/hexagone_shape.html number="7" %}
        {% include components/hexagone_shape.html number="8" %}
        {% include components/hexagone_shape.html number="9" %}
    </div>

</section>
