$main-background-color: #140f29;
$secondary-background-color: #251f4d;
$body-color: #ffffff;
$main-font: "Montserrat";
$title-font: "Helvetica Neue";
$main-gradient: linear-gradient(#500f3c, #dd1e45);
