<div class="cookie-popup">
    <!-- cookie-pupup prend l'intégralité de la page (pour pouvoir flouter l'arrière plan) -->
    <div class="cookie-window">
        <img src="/assets/img/icon_cookie_gradient.svg" alt="Cookie Logo">
        <p>Ce site utilise des cookies afin d’améliorer votre expérience et optimiser nos sites et services.</p>
        <div class="cookie-window-button">
            <!-- On vient mettre les boutons dans une div pour pouvoir faciliter le placement des éléments -->
            {% include components/classic_button.html content="Accepter" class="cookies-button active" %}
            {% include components/classic_button.html content="Refuser" class="cookies-button" %}
        </div>
    </div>
</div>