.classic-button {
    background-color: #500f3c;
    font-size: 1rem;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #000000;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    border: none;

    &:hover,
    &:focus {
        background-color: white;
        color: black;
    }
}

.header-button {
    margin-bottom: 30px;
    margin-right: 40px;
}
