.cookie-popup {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);

    .cookie-window {
        background: url("/assets/img/hexagone_cookies.svg") center center no-repeat;
        background-size: contain;
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        box-sizing: border-box;

        img {
            width: 50px;
            height: 50px;
        }

        p {
            color: black;
            font-size: 1.3rem;
            padding-bottom: 10px;
            text-align: center;
            margin: 0 25px;
        }

        .cookie-window-button {
            height: auto;
        }
    }
}
