.cookie-popup {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    .cookie-window {
        background: url("/assets/img/hexagone_cookies.svg") center center no-repeat;
        width: 350px;
        height: 350px;

        .img {
            width: 48px;
            height: 48px;
        }

        p {
            padding-bottom: 10px;
        }

        .cookie-window-button {
            height: auto;
        }
    }
}
