.form-button {
    font-size: 1.1rem;
    height: 30px;
    width: 120px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #000000;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition: 0.5s;
    background: #500F3C;
    color: white;

    &:hover,
    &:focus,
    &.active {
        background: white;
        color: black;
    }

    @media (min-width: 900px) {
        font-size: 1.5rem;
        height: 50px;
        width: 180px;
    }
}
