.help-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #f3f0f4;
    width: 100px;
    height: 140px;
    border-radius: 16px;
    color: $main-background-color;
    box-shadow: 0 3px 6px #8e4a4a;
    padding: 0 5px;
    margin: 20px 10px;
    box-sizing: border-box;

    &.display-none {
        display: none;
    }

    h4 {
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    p {
        font-size: 0.7rem;
        text-align: center;
    }

    button {
        border: none;
        font-size: 0.6rem;
        box-shadow: 1px 1px 7px $main-background-color;
        border-radius: 4px;
    }

    @media (min-width: 1280px) {
        width: 200px;
        height: 320px;
        padding: 0 15px;

        h4 {
            font-size: 1.9rem;
        }
    
        p {
            font-size: 0.9rem;
        }
    }
}
