.howto {
    display: flex;
    // justify-content: space-around;
    align-items: center;

    padding: 15px 0;
    margin: 10px 0;
    width: 250px;

    .howto-text-container {
        padding-left: 20px;

        h4 {
            padding-bottom: 10px;
        }
    }
}
