nav {
    z-index: 10;
    position: fixed;
    top: 25%;
    right: 20px;
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .puce {
    /*Style de la puce*/
    border-radius: 15%;
    display: block;
    width: 5px;
    height: 80px;
    background-color: white;
    margin-bottom: 10px;
  }
  
  .active {
    opacity: 1; /*Ou changement de couleur ça dépend*/
  }
}