.social-items {
    background: url("/assets/img/hexagone_middle_social.svg") no-repeat center center;
    background-size: auto;
    position: relative;
    height: 220px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        border-radius: 50px;
        top: -10px;
        left: 50%;
        height: 64px;
        width: 64px;
        transform: translateX(-50%);
    }
}