.social-items {
    background: url("/assets/img/hexagone_middle_social.svg") no-repeat center center;
    background-size: auto;
    position: relative;
    height: 220px;
    width: 200px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        border-radius: 50px;
        top: -20px;
        left: 50%;
        height: 64px;
        width: 64px;
        transform: translateX(-50%);
    }

    .social-items-text-container {
        text-align: center;

        h5 {
            margin-bottom: 10px;
            font-weight: bold;
        }
    }

    @media (min-width: 500px) {
        height: 350px;
        width: 325px;

        img {
            height: 96px;
            width: 96px;
        }
    }
}