.social-items {
    background: url("/assets/img/hexagone_middle_social.svg") no-repeat center center;
    background-size: contain;
    position: relative;
    height: 220px;
    width: 200px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img {
        position: absolute;
        border-radius: 50px;
        top: -20px;
        left: 50%;
        height: 64px;
        width: 64px;
        transform: translateX(-50%);
    }

    .social-items-text-container {
        text-align: center;

        h5 {
            margin-bottom: 10px;
            font-weight: bold;
        }
    }

    .white {
        box-shadow: 0px 0px 12px white;
    }

    .grey {
        box-shadow: 0px 0px 12px #132329;
    }

    .black {
        box-shadow: 0px 0px 12px black;
    }

    @media (min-width: 500px) {
        height: 350px;
        width: 325px;
        flex-wrap: wrap;

        img {
            height: 96px;
            width: 96px;
        }
    }
}