.subtitle-neon {
    width: 100%;
    margin: 20px 0;

    div {
        position: relative;
    }

    &.subtitle-neon-center {
        display: flex;
        justify-content: center;
    }

    .subtitle-neon-main {
        font-size: 1.5rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent;
    }

    .subtitle-neon-shadow {
        opacity: 0.5;
        font-size: 1.5rem;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        text-shadow: 0 0px 7px #f2b1c0;
    }
}
