.subtitle-neon {
    width: 100%;
    position: relative;
    margin: 20px 0;

    .subtitle-neon-main {
        font-size: 1.5rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent;
    }

    .subtitle-neon-shadow {
        font-size: 1.5rem;
        position: absolute;
        top: 1px;
        left: 1px;
        color: transparent;
        text-shadow: 0 0px 5px #f2b1c0;
    }
}
