<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ site.title }}</title>
    <meta name="description" content="COMPLETE THIS DESCRIPTION">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% include commons/header.html %}
    {% include components/navbar.html %}

    {% include pages/home.html %}

    {% include commons/footer.html %}

    <!--SCRIPT -->
    <script type="text/javascript" src="/assets/js/cookies.js"></script>
    <script type="text/javascript" src="/assets/js/navbar.js"></script>
  </body>
</html>
