.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $secondary-background-color;
    height: auto;
    padding: 40px;

    h2 {
        font-size: 75px;
        width: 100%;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: $main-gradient;
        width: 300px;
        height: 200px;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0px 3px 8px #a32a2a;
        margin: 70px 0;
    }

    .help-card-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
