.social {
    padding: 60px 40px;

    .social-items-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 50px 0;
    }

    .arrow {
        display: flex;
        justify-content: space-between;

        button {
            background-color: transparent;
            border: none;
        }

        @media (min-width: 500px) {
            display: none;
        }
    }
}

