.social {
    padding: 60px 40px;

    .social-items-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 50px 0;
    }

    .arrow {
        button {
            background-color: transparent;
            border: none;
        }
    }
}

