.status {
    padding: 50px 30px 100px;

    img {
        border-color: white;
    }

    .hexagone-container,
    .hexagone-icon-container {
        position: relative;
        width: 100%;
        height: 250px;
    }

    .howto-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .calendrier {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            max-width: 15%;
            height: auto;
        }
    }

    .title-cas-particulier {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .text-addition {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;

            width: 240px;
            text-align: center;
        }
    }
}
