.carousel {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1rem;
}

<<<<<<< HEAD
.social
{}
    h5
    {
        font-size: 24px;
    }
    
    fleche {
    position: relative;
     left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
=======
.fleche {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.artswap {
    text-align: center;
}

.movinmotion {
    text-align: left;
>>>>>>> 0e3d50cbb82c9e157d922cc74142afe6bf46ab9d
}
