footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Logo Promise */
    .logo-promise {
        height: 72px;
        width: 72px;
        margin: 20px 0;
    }

    /* Zone Nav Onglet */
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;

        /* Onglet */
        li {
            margin: 10px 0;
            transition: 0.5s;

            a {
                text-decoration: none;
                color: white;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    /* Mentions légales */
    .mentions-légales {
        font-size: 0.6rem;
        margin-bottom: 10px;
        text-decoration: none;
        color: white;
    }

    /* Zone logo réseaux */
    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: center;

        /* Logo */
        img {
            margin: 24px 10px;
            height: 24px;
            width: 24px;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    /* Copyright */
    .copyright {
        font-size: 0.8rem;
        margin-bottom: 30px;
    }

    @media (min-width: 500px) {
        .logo-promise {
            height: 154px;
            width: 154px;
            margin: 20px 0;
        }

        .footer-nav {
            flex-direction: row;
            font-size: 1.3rem;
            
            a {
                margin: 0 30px;
            }
        }

        .mentions-légales {
            font-size: 0.8rem;
            margin-bottom: 20px;
        }

        .footer-social {
            img {
                margin: 24px 20px;
                height: 36px;
                width: 36px;
            }
        }

        .copyright {
            font-size: 1rem;
        }
    }
}
