header {
    background-image: url("/assets/img/header_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;

    h1 {
        margin-top: 120px;
        margin-bottom: 110px;
        font-size: 25px;

        span {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    p {
        font-size: 16px;
        margin: 15px 0;
    }
}
