header {
    background-image: url("/assets/img/header_background.jpg");
    h1{
        font-size: 25px;
        span{
            font-size : 31px;
            font-weight: bolder;
        }

    }
    h2{
        font-size: 19px;
    }
    p{
        font-size: 16px;
    }
}