header {
    position: relative;
    display: block;
    padding: 30px;
    height: 90vh;

    &::after {
        content: "";
        background: url("/assets/img/header_background.jpg") center center no-repeat;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        filter: blur(4px);
    }

    h1 {
        margin-top: 120px;
        margin-bottom: 110px;
        font-size: 25px;

        span {
            font-size: 30px;
            
        }
    }

    h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    p {
        font-size: 16px;
        margin: 15px 0;
    }
}
