html {
    scroll-behavior: smooth;
}

body {
    background: $main-background-color;
    color: $body-color;
    font-family: $main-font;
}

.section {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1280px;
    width: 100%;
    margin: auto;

    @media (min-width: 1280px) {
        overflow: visible;
    }
}

